<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Línea</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars">
            <th scope="row">{{ car.id }}</th>
            <td>{{ car.marca }}</td>
            <td>{{ car.linea }}</td>
            <td>{{ car.modelo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Marca</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let brand of brandCount | keyvalue">
            <td>{{ brand.key }}</td>
            <td>{{ brand.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>